import url("https://fonts.googleapis.com/css?family=Amiko&display=swap&family=Aclonica&display=swap&family=Acme&display=swap&family=Aldrich&display=swap")
.at-black {color: #000000;}
.at-white {color: #ffffff;}
.at-sakura {color: #ffbbcd;}
.at-skyblue {color: #55ddff;}
.at-turquoise {color: #66ffff;}
.at-yellow {color: #ffff00;}
.at-orange {color: #ff9912;}
.at-violet {color: #6300cc;}
.at-mauve {color: #995599;}
.at-red {color: #ff0000;}
.at-seablue {color: #003eb3;}
.at-darkblue {color: #191966;}
.at-prussianblue {color: #003366;}
.at-vermilionred {color: #ff4400;}
.at-lawngreen {color: #aaff00;}
.at-olivegreen {color: #384d00;}
.at-indigo {color: #00004d;}
.at-rainbowgreen {color: #00ff00;}
.at-tomatoketchup {color: #ff5050;}
.at-mayonnise {color: #ffccb6;}
.at-rustiron {color: #992e00;}
.at-fall {color: #ff5e1a;}
.at-imkat-text-fruits-sweetlime {color: #aaff22;}
.at-imkat-text-fruits-orange {color: #ffaa33;}
.at-imkat-text-fruits-banana {color: #ddff11;}
.at-imkat-text-fruits-mango {color: #ffee22;}
.at-out-black {background-color: #000000;}
.at-out-white {background-color: #ffffff;}
.at-out-sakura {background-color: #ffbbcd;}
.at-out-skyblue {background-color: #55ddff;}
.at-out-turquoise {background-color: #66ffff;}
.at-out-yellow {background-color: #ffff00;}
.at-out-orange {background-color: #ff9912;}
.at-out-violet {background-color: #6300cc;}
.at-out-mauve {background-color: #995599;}
.at-out-red {background-color: #ff0000;}
.at-out-seablue {background-color: #003eb3;}
.at-out-darkblue {background-color: #191966;}
.at-out-prussianblue {background-color: #003366;}
.at-out-vermilionred {background-color: #ff4400;}
.at-out-lawngreen {background-color: #aaff00;}
.at-out-olivegreen {background-color: #384d00;}
.at-out-indigo {background-color: #00004d;}
.at-out-rainbowgreen {background-color: #00ff00;}
.at-out-tomatoketchup {background-color: #ff5050;}
.at-out-mayonnise {background-color: #ffccb6;}
.at-out-rustiron {background-color: #992e00;}
.at-out-fall {background-color: #ff5e1a;}
.at-imkat-fruits-sweetlime {background-color: #aaff22;}
.at-imkat-fruits-orange {background-color: #ffaa33;}
.at-imkat-fruits-banana {background-color: #ddff11;}
.at-imkat-fruits-mango {background-color: #ffee22;}
.at-onhover-black:hover {color: #000000;}
.at-onhover-white:hover {color: #ffffff;}
.at-onhover-sakura:hover {color: #ffbbcd;}
.at-onhover-skyblue:hover {color: #55ddff;}
.at-onhover-turquoise:hover {color: #66ffff;}
.at-onhover-yellow:hover {color: #ffff00;}
.at-onhover-orange:hover {color: #ff9912;}
.at-onhover-violet:hover {color: #6300cc;}
.at-onhover-mauve:hover {color: #995599;}
.at-onhover-red:hover {color: #ff0000;}
.at-onhover-seablue:hover {color: #003eb3;}
.at-onhover-darkblue:hover {color: #191966;}
.at-onhover-prussianblue:hover {color: #003366;}
.at-onhover-vermilionred:hover {color: #ff4400;}
.at-onhover-lawngreen:hover {color: #aaff00;}
.at-onhover-olivegreen:hover {color: #384d00;}
.at-onhover-indigo:hover {color: #00004d;}
.at-onhover-rainbowgreen:hover {color: #00ff00;}
.at-onhover-tomatoketchup:hover {color: #ff5050;}
.at-onhover-mayonnise:hover {color: #ffccb6;}
.at-onhover-rustiron:hover {color: #992e00;}
.at-onhover-fall:hover {color: #ff5e1a;}
.at-onhover-imkat-text-fruits-sweetlime:hover {color: #aaff22;}
.at-onhover-imkat-text-fruits-orange:hover {color: #ffaa33;}
.at-onhover-imkat-text-fruits-banana:hover {color: #ddff11;}
.at-onhover-imkat-text-fruits-mango:hover {color: #ffee22;}
.at-onhover-out-black:hover {background-color: #000000;}
.at-onhover-out-white:hover {background-color: #ffffff;}
.at-onhover-out-sakura:hover {background-color: #ffbbcd;}
.at-onhover-out-skyblue:hover {background-color: #55ddff;}
.at-onhover-out-turquoise:hover {background-color: #66ffff;}
.at-onhover-out-yellow:hover {background-color: #ffff00;}
.at-onhover-out-orange:hover {background-color: #ff9912;}
.at-onhover-out-violet:hover {background-color: #6300cc;}
.at-onhover-out-mauve:hover {background-color: #995599;}
.at-onhover-out-red:hover {background-color: #ff0000;}
.at-onhover-out-seablue:hover {background-color: #003eb3;}
.at-onhover-out-darkblue:hover {background-color: #191966;}
.at-onhover-out-prussianblue:hover {background-color: #003366;}
.at-onhover-out-vermilionred:hover {background-color: #ff4400;}
.at-onhover-out-lawngreen:hover {background-color: #aaff00;}
.at-onhover-out-olivegreen:hover {background-color: #384d00;}
.at-onhover-out-indigo:hover {background-color: #00004d;}
.at-onhover-out-rainbowgreen:hover {background-color: #00ff00;}
.at-onhover-out-tomatoketchup:hover {background-color: #ff5050;}
.at-onhover-out-mayonnise:hover {background-color: #ffccb6;}
.at-onhover-out-rustiron:hover {background-color: #992e00;}
.at-onhover-out-fall:hover {background-color: #ff5e1a;}
.at-onhover-imkat-fruits-sweetlime:hover {background-color: #aaff22;}
.at-onhover-imkat-fruits-orange:hover {background-color: #ffaa33;}
.at-onhover-imkat-fruits-banana:hover {background-color: #ddff11;}
.at-onhover-imkat-fruits-mango:hover {background-color: #ffee22;}
.at-b-black {border-color: #000000!important}
.at-b-white {border-color: #ffffff!important}
.at-b-sakura {border-color: #ffbbcd!important}
.at-b-skyblue {border-color: #55ddff!important}
.at-b-turquoise {border-color: #66ffff!important}
.at-b-yellow {border-color: #ffff00!important}
.at-b-orange {border-color: #ff9912!important}
.at-b-violet {border-color: #6300cc!important}
.at-b-mauve {border-color: #995599!important}
.at-b-red {border-color: #ff0000!important}
.at-b-seablue {border-color: #003eb3!important}
.at-b-darkblue {border-color: #191966!important}
.at-b-prussianblue {border-color: #003366!important}
.at-b-vermilionred {border-color: #ff4400!important}
.at-b-lawngreen {border-color: #aaff00!important}
.at-b-olivegreen {border-color: #384d00!important}
.at-b-indigo {border-color: #00004d!important}
.at-b-rainbowgreen {border-color: #00ff00!important}
.at-b-tomatoketchup {border-color: #ff5050!important}
.at-b-mayonnise {border-color: #ffccb6!important}
.at-b-rustiron {border-color: #992e00!important}
.at-b-fall {border-color: #ff5e1a!important}
.at-onhover-b-black:hover {border-color: #000000!important}
.at-onhover-b-white:hover {border-color: #ffffff!important}
.at-onhover-b-sakura:hover {border-color: #ffbbcd!important}
.at-onhover-b-skyblue:hover {border-color: #55ddff!important}
.at-onhover-b-turquoise:hover {border-color: #66ffff!important}
.at-onhover-b-yellow:hover {border-color: #ffff00!important}
.at-onhover-b-orange:hover {border-color: #ff9912!important}
.at-onhover-b-violet:hover {border-color: #6300cc!important}
.at-onhover-b-mauve:hover {border-color: #995599!important}
.at-onhover-b-red:hover {border-color: #ff0000!important}
.at-onhover-b-seablue:hover {border-color: #003eb3!important}
.at-onhover-b-darkblue:hover {border-color: #191966!important}
.at-onhover-b-prussianblue:hover {border-color: #003366!important}
.at-onhover-b-vermilionred:hover {border-color: #ff4400!important}
.at-onhover-b-lawngreen:hover {border-color: #aaff00!important}
.at-onhover-b-olivegreen:hover {border-color: #384d00!important}
.at-onhover-b-indigo:hover {border-color: #00004d!important}
.at-onhover-b-rainbowgreen:hover {border-color: #00ff00!important}
.at-onhover-b-tomatoketchup:hover {border-color: #ff5050!important}
.at-onhover-b-mayonnise:hover {border-color: #ffccb6!important}
.at-onhover-b-rustiron:hover {border-color: #992e00!important}
.at-onhover-b-fall:hover {border-color: #ff5e1a!important}
.at-b-imkat-fruits-sweetlime, .at-onhover-b-imkat-fruits-sweetlime:hover {border-color: #aaff22!important}
.at-b-imkat-fruits-orange, .at-onhover-b-imkat-fruits-orange:hover{border-color: #ffaa33!important}
.at-b-imkat-fruits-banana, .at-onhover-b-imkat-fruits-banana:hover{border-color: #ddff11!important}
.at-b-imkat-fruits-mango, .at-onhover-b-imkat-fruits-mango:hover{border-color: #ffee22!important}
.at-b-small {border: 1px solid #ccc;}
.at-b-medium {border: 2.5px solid #ccc;}
.at-b-slightthick {border: 3.5px solid #ccc;}
.at-b-thick {border: 5px solid #ccc;}
.at-b-vthick {border: 7px solid #ccc;}
.at-b-dotted {border-style: dotted!important}
.at-b-dashed {border-style: dashed!important}
.at-b-double {border-style: double!important}
.at-b-groove {border-style: groove!important}
.at-b-ridge {border-style: ridge!important}
.at-b-inset {border-style: inset!important}
.at-b-outset {border-style: outset!important}
.at-b-left-dotted {border-left-style: dotted!important}
.at-b-left-dashed {border-left-style: dashed!important}
.at-b-left-double {border-left-style: double!important}
.at-b-left-groove {border-left-style: groove!important}
.at-b-left-ridge {border-left-style: ridge!important}
.at-b-left-inset {border-left-style: inset!important}
.at-b-left-outset {border-left-style: outset!important}
.at-b-right-dotted {border-right-style: dotted!important}
.at-b-right-dashed {border-right-style: dashed!important}
.at-b-right-double {border-right-style: double!important}
.at-b-right-groove {border-right-style: groove!important}
.at-b-right-ridge {border-right-style: ridge!important}
.at-b-right-inset {border-right-style: inset!important}
.at-b-right-outset {border-right-style: outset!important}
.at-b-top-dotted {border-top-style: dotted!important}
.at-b-top-dashed {border-top-style: dashed!important}
.at-b-top-double {border-top-style: double!important}
.at-b-top-groove {border-top-style: groove!important}
.at-b-top-ridge {border-top-style: ridge!important}
.at-b-top-inset {border-top-style: inset!important}
.at-b-top-outset {border-top-style: outset!important}
.at-onhover-b-small:hover {border: 1px solid #ccc;}
.at-onhover-b-medium:hover {border: 2.5px solid #ccc;}
.at-onhover-b-slightthick:hover {border: 3.5px solid #ccc;}
.at-onhover-b-thick:hover {border: 5px solid #ccc;}
.at-onhover-b-vthick:hover {border: 7px solid #ccc;}
.at-onhover-b-dotted:hover {border-style: dotted!important}
.at-onhover-b-dashed:hover {border-style: dashed!important}
.at-onhover-b-double:hover {border-style: double!important}
.at-onhover-b-groove:hover {border-style: groove!important}
.at-onhover-b-ridge:hover {border-style: ridge!important}
.at-onhover-b-inset:hover {border-style: inset!important}
.at-onhover-b-outset:hover {border-style: outset!important}
.at-onhover-b-left-dotted:hover {border-left-style: dotted!important}
.at-onhover-b-left-dashed:hover {border-left-style: dashed!important}
.at-onhover-b-left-double:hover {border-left-style: double!important}
.at-onhover-b-left-groove:hover {border-left-style: groove!important}
.at-onhover-b-left-ridge:hover {border-left-style: ridge!important}
.at-onhover-b-left-inset:hover {border-left-style: inset!important}
.at-onhover-b-left-outset:hover {border-left-style: outset!important}
.at-onhover-b-right-dotted:hover {border-right-style: dotted!important}
.at-onhover-b-right-dashed:hover {border-right-style: dashed!important}
.at-onhover-b-right-double:hover {border-right-style: double!important}
.at-onhover-b-right-groove:hover {border-right-style: groove!important}
.at-onhover-b-right-ridge:hover {border-right-style: ridge!important}
.at-onhover-b-right-inset:hover {border-right-style: inset!important}
.at-onhover-b-right-outset:hover {border-right-style: outset!important}
.at-onhover-b-top-dotted:hover {border-top-style: dotted!important}
.at-onhover-b-top-dashed:hover {border-top-style: dashed!important}
.at-onhover-b-top-double:hover {border-top-style: double!important}
.at-onhover-b-top-groove:hover {border-top-style: groove!important}
.at-onhover-b-top-ridge:hover {border-top-style: ridge!important}
.at-onhover-b-top-inset:hover {border-top-style: inset!important}
.at-onhover-b-top-outset:hover {border-top-style: outset!important}
.at-b-bottom-dotted, .at-onhover-b-bottom-dotted:hover {border-bottom-style: dotted!important}
.at-b-bottom-dashed, .at-onhover-b-bottom-dashed:hover {border-bottom-style: dashed!important}
.at-b-bottom-double, .at-onhover-b-bottom-double:hover {border-bottom-style: double!important}
.at-b-bottom-groove, .at-onhover-b-bottom-groove:hover {border-bottom-style: groove!important}
.at-b-bottom-ridge, .at-onhover-b-bottom-ridge:hover {border-bottom-style: ridge!important}
.at-b-bottom-inset, .at-onhover-b-bottom-inset:hover {border-bottom-style: inset!important}
.at-b-bottom-outset, .at-onhover-b-bottom-outset:hover {border-bottom-style: outset!important}
.at-b-normal {border-radius:0px!important}
.at-b-slightround {border-radius: 3px!important}
.at-b-lessround {border-radius: 5px!important}
.at-b-moderateround {border-radius: 8px!important}
.at-b-veryround {border-radius: 10px!important}
.at-b-highlyround {border-radius: 20px!important}
.at-onhover-b-normal:hover {border-radius: 0px!important}
.at-onhover-b-slightround:hover {border-radius: 3px!important}
.at-onhover-b-lessround:hover {border-radius: 5px!important}
.at-onhover-b-moderateround:hover {border-radius: 8px!important}
.at-onhover-b-veryround:hover {border-radius: 10px!important}
.at-o-dotted {outline-style: dotted!important}
.at-o-dashed {outline-style: dashed!important}
.at-o-double {outline-style: double!important}
.at-o-groove {outline-style: groove!important}
.at-o-ridge {outline-style: ridge!important}
.at-o-inset {outline-style: inset!important}
.at-o-outset {outline-style: outset!important}
.at-onhover-o-dotted:hover {outline-style: dotted!important}
.at-onhover-o-dashed:hover {outline-style: dashed!important}
.at-onhover-o-double:hover {outline-style: double!important}
.at-onhover-o-groove:hover {outline-style: groove!important}
.at-onhover-o-ridge:hover {outline-style: ridge!important}
.at-onhover-o-inset:hover {outline-style: inset!important}
.at-onhover-o-outset:hover {outline-style: outset!important}
.at-fonts-serif-georgia {font-family: Georgia, serif;}
.at-fonts-serif-palatino-bookantiqua {font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}
.at-fonts-serif-timesnewroman {font-family: "Times New Roman", Times, serif;}
.at-fonts-sans-arial {font-family: Arial, Helvetica, sans-serif;}
.at-fonts-sans-arialblack {font-family: "Arial Black", Gadget, sans-serif;}
.at-fonts-sans-comicsans {font-family: "Comic Sans MS", cursive, sans-serif;}
.at-fonts-sans-impact {font-family: Impact, Charcoal, sans-serif;}
.at-fonts-sans-lucidaunicode {font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.at-fonts-sans-aclonica {font-family: "Aclonica";}
.at-fonts-sans-acme {font-family: "Acme";}
.at-fonts-mono-lucidaconsole {font-family: "Lucida Console", Monaco, monospace;}
.at-fonts-mono-couriermew {font-family: "Courier New", Courier, monospace;}
.at-fonts-mono-amiko {font-family: "Amiko";}
.at-fonts-mono-aldrich {font-family: "Aldrich";}
.at-fonts-mono-andale {font-family: "Andale Mono", monospace;}
.at-fonts-mono-freemono {font-family: FreeMono, monospace;}
.at-fonts-mono-dejavu {font-family: "DejaVu Sans Mono", monospace;}
.at-onhover-fonts-serif-georgia:hover {font-family: Georgia, serif;}
.at-onhover-fonts-serif-palatino-bookantiqua:hover {font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}
.at-onhover-fonts-serif-timesnewroman:hover {font-family: "Times New Roman", Times, serif;}
.at-onhover-fonts-sans-arial:hover {font-family: Arial, Helvetica, sans-serif;}
.at-onhover-fonts-sans-arialblack:hover {font-family: "Arial Black", Gadget, sans-serif;}
.at-onhover-fonts-sans-comicsans:hover {font-family: "Comic Sans MS", cursive, sans-serif;}
.at-onhover-fonts-sans-impact:hover {font-family: Impact, Charcoal, sans-serif;}
.at-onhover-fonts-sans-lucidaunicode:hover {font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.at-onhover-fonts-sans-aclonica:hover {font-family: "Aclonica";}
.at-onhover-fonts-sans-acme:hover {font-family: "Acme";}
.at-onhover-fonts-mono-lucidaconsole:hover {font-family: "Lucida Console", Monaco, monospace;}
.at-onhover-fonts-mono-couriermew:hover {font-family: "Courier New", Courier, monospace;}
.at-onhover-fonts-mono-amiko:hover {font-family: "Amiko";}
.at-onhover-fonts-mono-aldrich:hover {font-family: "Aldrich";}
.at-onhover-fonts-mono-andale:hover {font-family: "Andale Mono", monospace;}
.at-onhover-fonts-mono-freemono:hover {font-family: FreeMono, monospace;}
.at-onhover-fonts-mono-dejavu:hover {font-family: "DejaVu Sans Mono", monospace;}
.at-fonts-size-r-microscopic {font-size: 0.5vw;}
.at-fonts-size-r-vsmall {font-size: 1vw;}
.at-fonts-size-r-small {font-size: 2vw;}
.at-fonts-size-r-medium {font-size: 3vw;}
.at-fonts-size-r-large {font-size: 4vw;}
.at-fonts-size-r-vlarge {font-size: 5vw;}
.at-fonts-size-r-super {font-size: 7vw;}
.at-fonts-size-r-ularge {font-size: 8vw;}
.at-fonts-size-r-extreme {font-size: 10vw;}
.at-onhover-fonts-size-r-microscopic:hover {font-size: 0.5vw;}
.at-onhover-fonts-size-r-vsmall:hover {font-size: 1vw;}
.at-onhover-fonts-size-r-small:hover {font-size: 2vw;}
.at-onhover-fonts-size-r-medium:hover {font-size: 3vw;}
.at-onhover-fonts-size-r-large:hover {font-size: 4vw;}
.at-onhover-fonts-size-r-vlarge:hover {font-size: 5vw;}
.at-onhover-fonts-size-r-super:hover {font-size: 7vw;}
.at-onhover-fonts-size-r-ularge:hover {font-size: 8vw;}
.at-onhover-fonts-size-r-extreme:hover {font-size: 10vw;}
