.at-fonts-size-microscopic {font-size: 0.5vw;}
.at-fonts-size-vsmall {font-size: 1vw;}
.at-fonts-size-small {font-size: 2vw;}
.at-fonts-size-medium {font-size: 3vw;}
.at-fonts-size-large {font-size: 4vw;}
.at-fonts-size-vlarge {font-size: 5vw;}
.at-fonts-size-super {font-size: 7vw;}
.at-fonts-size-ularge {font-size: 8vw;}
.at-fonts-size-extreme {font-size: 10vw;}
.at-onhover-fonts-size-microscopic:hover {font-size: 0.5vw;}
.at-onhover-fonts-size-vsmall:hover {font-size: 1vw;}
.at-onhover-fonts-size-small:hover {font-size: 2vw;}
.at-onhover-fonts-size-medium:hover {font-size: 3vw;}
.at-onhover-fonts-size-large:hover {font-size: 4vw;}
.at-onhover-fonts-size-vlarge:hover {font-size: 5vw;}
.at-onhover-fonts-size-super:hover {font-size: 7vw;}
.at-onhover-fonts-size-ularge:hover {font-size: 8vw;}
.at-onhover-fonts-size-extreme:hover {font-size: 10vw;}
/*Note all these sizes are responsive*/